.gift-animation {
  position: absolute;
  top: 37%;
  right: 0;
  bottom: 0;
  left: 73%;

  &__plane {
    z-index: 5;
    position: absolute;
    width: 110px;
    animation: plane 10s linear 0s 1 forwards;
  }
}

@keyframes plane {
  0% {
    right: 10%;
    bottom: 10%;
  }
  25% {
    right: 20%;
    bottom: 30%;
  }
  50% {
    right: 40%;
    bottom: 45%;
  }
  75% {
    right: 50%;
    bottom: 65%;
  }
  100% {
    right: 60%;
    bottom: 85%;
  }
}

.cloud-animation {
  z-index: 5;
  position: absolute;
  inset: 0;
  transform: translateZ(0);
  animation-name: cloud-moving;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

@keyframes cloud-moving {
  0% {
    opacity: 0.1;
    transform: translateX(300px);
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-1000px);
  }
}
