.gift-animation {
  z-index: 6;
  display: none;
  position: absolute;
  top: 37%;
  right: 0;
  bottom: 0;
  left: 73%;

  @include media-breakpoint-up(lg) {
    display: block;
  }

  &__plane {
    z-index: 5;
    position: absolute;
    width: 110px;
    animation: plane 10s linear 0s 2 forwards;
  }

  @keyframes plane {
    0% {
      right: 10%;
      bottom: 10%;
    }
    25% {
      right: 20%;
      bottom: 30%;
    }
    50% {
      right: 40%;
      bottom: 45%;
    }
    75% {
      right: 50%;
      bottom: 65%;
    }
    100% {
      right: 60%;
      bottom: 85%;
    }
  }
}

.gift {
  &-right-cloud {
    z-index: 6;
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    animation: gift-right-cloud 10s linear 0s 2;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  @keyframes gift-right-cloud {
    0% {
      transform: translateX(440px);
    }
    25% {
      transform: translateX(340px);
    }
    50% {
      transform: translateX(240px);
    }
    75% {
      transform: translateX(140px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  &-left-cloud {
    z-index: 6;
    position: absolute;
    bottom: 30%;
    left: 8%;
    animation: gift-left-cloud 10s linear 0s 2;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  @keyframes gift-left-cloud {
    0% {
      transform: translateX(-138%);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-75%);
    }
    75% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

.use {
  &__plane-anime {
    z-index: 6;

    position: absolute;
    left: 0%;
    bottom: -30%;
    width: 30%;
    height: 60%;
    transform: rotate(90deg);

    svg {
      display: none;
      position: absolute;
      right: 0%;
      bottom: 0%;
      animation: use-section-plane 10s linear 0s 2 forwards;

      @include media-breakpoint-up(lg) {
        display: block;
      }

      @keyframes use-section-plane {
        0% {
          right: 10%;
          bottom: 10%;
        }
        25% {
          right: 20%;
          bottom: 20%;
        }
        50% {
          right: 30%;
          bottom: 30%;
        }
        75% {
          right: 40%;
          bottom: 40%;
        }
        100% {
          right: 50%;
          bottom: 50%;
        }
      }
    }
  }
}
