.gift-animation {
  display: none;
  position: absolute;
  top: 37%;
  right: 0;
  bottom: 0;
  left: 73%;

  @include media-breakpoint-up(lg) {
    display: block;
  }

  &__plane {
    z-index: 5;
    position: absolute;
    width: 110px;
    animation: plane 10s linear 0s 1 forwards;
  }
}

@keyframes plane {
  0% {
    right: 10%;
    bottom: 10%;
  }
  25% {
    right: 20%;
    bottom: 30%;
  }
  50% {
    right: 40%;
    bottom: 45%;
  }
  75% {
    right: 50%;
    bottom: 65%;
  }
  100% {
    right: 60%;
    bottom: 85%;
  }
}

.gift {
  &-right-cloud {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    animation: gift-right-cloud 10s linear 0s 1;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  @keyframes gift-right-cloud {
    0% {
      transform: translateX(440px);
    }
    25% {
      transform: translateX(340px);
    }
    50% {
      transform: translateX(240px);
    }
    75% {
      transform: translateX(140px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  &-left-cloud {
    position: absolute;
    bottom: 30%;
    left: 8%;
    animation: gift-left-cloud 10s linear 0s 1;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  @keyframes gift-left-cloud {
    0% {
      transform: translateX(-138%);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-75%);
    }
    75% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
