.footer {
  &-form {
    margin-top: 38px;
    &__header {
      color: $color-greenish-cyan;

      @include media-breakpoint-up(md) {
        letter-spacing: 4px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 19px;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }

    &--email {
      width: 100%;
      padding: 10px 20px;
      border-radius: 3px;
      border: none;

      &::placeholder {
        font-size: 14px;
        color: $color-white-300;
      }
    }

    &--btn {
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 106px;
      }
    }
  }
}
