.gift-animation {
  position: absolute;
  right: 15%;
  top: 35%;

  &__plane {
    z-index: 3;
    width: 110px;
    animation: plane 5s alternate infinite;
    animation-timing-function: linear;
  }
}

@keyframes plane {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(100px);
  }
}

.cloud-animation {
  position: absolute;
  inset: 0;
  transform: translateZ(0);
  animation-name: cloud-moving;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

@keyframes cloud-moving {
  0% {
    opacity: 0.1;
    transform: translateX(300px);
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-1000px);
  }
}
