.gift-animation {
  position: absolute;
  border: 1px solid red;
  inset: 0;

  &__plane {
    position: absolute;
    z-index: 3;
    width: 110px;
    animation: plane 5s infinite;
  }
}

@keyframes plane {
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 5%;
    bottom: 20%;
  }
  50% {
    right: 30%;
    bottom: 30%;
  }
  75% {
    right: 70%;
    bottom: 50%;
  }
  100% {
    right: 110%;
    bottom: 50%;
  }
}

.cloud-animation {
  position: absolute;
  inset: 0;
  transform: translateZ(0);
  animation-name: cloud-moving;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

@keyframes cloud-moving {
  0% {
    opacity: 0.1;
    transform: translateX(300px);
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-1000px);
  }
}
