// Hero
.hero {
  &-video-container {
    width: 100%;
    @include gridCenter;

    & > * {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    & > video {
      aspect-ratio: 16 / 9;
      object-fit: cover;
      z-index: -1;
    }
  }

  &__content {
    @include flexCenter;
    flex-direction: column;
  }

  &__paragraph {
    margin-top: 44px;
    margin-bottom: 62px;
    font-size: clamp(1.13rem, calc(1.09rem + 0.19vw), 1.25rem);
  }
}
