// Hero
.hero {
  position: relative;
  background: linear-gradient($color-light-blue, $color-white);
  overflow: hidden;

  @include media-breakpoint-up(xl) {
    overflow: visible;
  }

  & > video {
    position: absolute;
    inset: 0;
    height: 100vh;
    @include media-breakpoint-up(md) {
      width: 100%;
      height: auto;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }

  &__content {
    z-index: 5;
    position: relative;
    @include flexCenter;
    flex-direction: column;

    @include media-breakpoint-up(xl) {
      padding-inline: 300px;
    }
  }
  &__header {
    color: $color-red-100;
  }

  :is(&__content, &__header) {
    color: $color-white;
  }

  &__paragraph {
    margin-top: 44px;
    margin-bottom: 62px;
    font-size: clamp(1.13rem, calc(1.09rem + 0.19vw), 1.25rem);

    @include media-breakpoint-up(xl) {
      padding-inline: 60px;
    }
  }
}
