.slider {
  z-index: 7;
  position: relative;
  top: 114px;
  height: 300px;

  &__content {
    padding-top: 75px;
  }

  &__header {
    color: $color-greenish-100;

    @include media-breakpoint-up(xl) {
      padding-inline: 400px;
    }
  }

  &__slides {
    margin-block: 60px;
  }

  &__item {
    position: relative;
    padding-block: 16px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      display: block;
      width: 0;
      height: 13px;
      background: $color-greenish-100;
      transition: all 0.3s ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__img {
    width: 130px;
    height: 30px;
  }
}
