// USE
.use {
  position: relative;
  background: $color-light-blue;

  &__content {
    @include media-breakpoint-up(xl) {
      position: relative;
      z-index: 8;
      padding-inline: 300px;
    }
  }

  :is(&__paragraph-secondary, &__paragraph-primary) {
    margin-top: 32px;
    margin-bottom: 60px;
  }

  &__paragraph-secondary {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__paragraph-primary {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      padding-inline: 70px;
    }
  }

  .video-wrapper {
    position: relative;

    .video-play {
      z-index: 9;
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }

  &__video {
    z-index: 9;
    width: 100%;

    @include media-breakpoint-up(xl) {
      position: relative;
      left: 50%;
      width: 40%;
      transform: translate(-50%, 0%);
    }
  }

  &-image-wrapper {
    position: relative;
  }

  &__img {
    z-index: 3;
    position: absolute;
    top: -203px;
    left: -55%;
    width: 216%;

    @media (min-width: 425px) {
      top: -251px;
    }

    @include media-breakpoint-up(md) {
      top: -492px;
    }

    @include media-breakpoint-up(lg) {
      top: -670px;
    }

    @include media-breakpoint-up(xl) {
      inset: 0;
      top: -392px;
      max-width: 100%;
    }
  }
}
