// USE
.use {
  background: $color-light-blue;
  overflow: hidden;

  &__content {
    @include media-breakpoint-up(xl) {
      position: relative;
      z-index: 8;
      padding-inline: 300px;
    }
  }

  :is(&__paragraph-secondary, &__paragraph-primary) {
    margin-top: 32px;
    margin-bottom: 60px;
  }

  &__paragraph-secondary {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__paragraph-primary {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      padding-inline: 70px;
    }
  }

  &__video {
    position: relative;
    z-index: 9;
    width: 100%;

    @include media-breakpoint-up(xl) {
      left: 50%;
      width: 40%;
      transform: translate(-50%, 0%);
    }
  }

  &__img {
    border: 1px solid red;
    z-index: 3;
    position: relative;
    display: block;
    width: 216%;
    left: -50%;
    top: -11rem;
    object-fit: cover;
    object-position: center;

    @include media-breakpoint-up(md) {
      top: -24rem;
    }

    @include media-breakpoint-up(lg) {
      top: -37rem;
    }

    @include media-breakpoint-up(xl) {
      width: 100%;
      top: -18rem;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
