// WORKS
.works {
  padding-bottom: 100px;

  &__content {
    @include flexCenter;
    flex-direction: column;
  }

  &__header {
    padding-bottom: 30px;

    @include media-breakpoint-up(md) {
      padding-top: 132px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 100px;
    }
  }

  &__paragraph {
    margin-bottom: 36px;
  }

  &__cards {
    margin-top: 45px;

    @include media-breakpoint-up(md) {
      margin-bottom: 45px;
    }
  }

  &-card {
    @include flexCenter;
    flex-direction: column;
    border-radius: 30px;
    transition: box-shadow 0.4s, border-radius 0.1s ease-in-out;

    &:hover {
      border-radius: 15px;
      background: $color-white;
      box-shadow: 20px 20px 60px $color-white-200, -20px -20px 60px $color-white;
    }

    &__img {
      width: 134px;
      height: 144px;
    }

    &__header {
      margin-top: 35px;
      margin-bottom: 30px;
    }

    &__paragraph {
      @include media-breakpoint-up(xl) {
        padding-inline: 85px;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 25px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__button {
    @include flexCenter;
    border: 2px solid $color-blue-700;
    background: transparent;
    color: $color-black-100;
    transition: all 500ms ease-in-out;

    &:hover {
      background-color: $color-greenish-50;
      color: $color-white;
      border: none;
    }
  }
}
