// WORKS
.works {
  z-index: 6;
  position: relative;
  &__content {
    @include flexCenter;
    flex-direction: column;
    margin-top: 84px;
  }

  &__header {
    margin-top: 35px;
    margin-bottom: 30px;
  }

  &__paragraph {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 18px;
  }

  &__cards {
    @include flexCenter;
    margin-top: 45px;

    @include media-breakpoint-up(md) {
      margin-bottom: 45px;
    }
  }

  &-card {
    @include flexCenter;
    flex-direction: column;
    width: 218px;
    padding: 10px;
    border-radius: 30px;
    margin: 30px;
    transition: transform 0.4s;
    background: 0.4s;
    box-shadow: 0.4s;

    &:hover {
      box-shadow: 0 15px 30px 0 rgba($color-light-blue, 0.6);
      background: rgba(237, 248, 255, 0.52);
      transform: translate(0, -4px);
    }

    &__header {
      margin-top: 35px;
      margin-bottom: 30px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 25px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__button {
    border: 2px solid $color-blue-700;
    background: transparent;
  }
}
