// WORKS
.works {
  z-index: 6;
  position: relative;
  &__content {
    @include flexCenter;
    flex-direction: column;
    margin-top: 84px;
  }

  &__header {
    margin-top: 35px;
    margin-bottom: 30px;
  }

  &__paragraph {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 18px;
  }

  &__cards {
    @include flexCenter;
    margin-top: 45px;

    @include media-breakpoint-up(md) {
      margin-bottom: 45px;
    }
  }

  &-card {
    @include flexCenter;
    flex-direction: column;
    width: 218px;
    padding: 10px;
    border-radius: 30px;
    margin: 30px;
    transition: box-shadow 0.4s, border-radius 0.1s ease-in-out;

    &:hover {
      border-radius: 15px;
      background: $color-white;
      box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px $color-white;
    }

    &__header {
      margin-top: 35px;
      margin-bottom: 30px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 25px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__button {
    @include flexCenter;
    border: 2px solid $color-blue-700;
    background: transparent;
  }
}

#modal {
  width: 50%;
  height: 50%;

  & > video {
    width: 100%;
    height: 85%;
  }
}

#closeModal {
  cursor: pointer;
}
