.font-brandon {
  font-family: $secondary-font;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 22px;
}

.fs-33-to-55 {
  font-size: clamp(2.06rem, calc(1.64rem + 2.1vw), 3.44rem);
}

.text-blue-700 {
  color: $color-blue-700;
}

.text-black-100 {
  color: $color-black-100;
}

.text-red-100 {
  color: $color-red-100;
}

.bg-greenish-50 {
  background: $color-greenish-50;
}

.bg-blue-800 {
  background: $color-blue-800;
}
