// font family
$primary-font: "Avenir Next", sans-serif;
$secondary-font: "Brandon Grotesque", sans-serif;

// color
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);
$color-red-bittersweet: hsl(0, 100%, 71%);
$color-greenish-cyan: hsl(162, 51%, 65%);

// fonts path
$fonts-path: "../fonts" !default;