// font family
$primary-font: "Avenir Next", sans-serif;
$secondary-font: "Brandon Grotesque", sans-serif;

// color
$color-black: hsl(0, 0%, 0%);
$color-black-100: hsl(0, 0%, 7%);
$color-white: hsl(0, 0%, 100%);
$color-white-200: hsl(0, 0%, 85%);
$color-white-300: hsl(0, 0%, 69%);
$color-red: hsl(0, 100%, 71%);
$color-red-100: hsl(360, 76%, 63%);
$color-greenish-cyan: hsl(162, 51%, 65%);
$color-greenish: hsl(168, 44%, 80%);
$color-greenish-50: hsl(166, 46%, 70%);
$color-greenish-100: hsl(167, 47%, 61%);
$color-greenish-300: hsl(171, 32%, 46%);
$color-blue-700: hsl(221, 34%, 23%);
$color-blue-800: hsl(215, 39%, 22%);
$color-light-blue: hsl(183, 100%, 96%);
$color-light-blue-l-100: hsl(183, 100%, 93%);
// fonts path
$fonts-path: "../../fonts" !default;
