// font family
$primary-font: "Avenir Next", sans-serif;
$secondary-font: "Brandon Grotesque", sans-serif;

// color
$color-black: hsl(0, 0%, 0%);
$color-black-100: hsl(0, 0%, 7%);
$color-white: hsl(0, 0%, 100%);
$color-red: hsl(0, 100%, 71%);
$color-red-100: hsl(360, 76%, 63%);
$color-greenish-cyan: hsl(162, 51%, 65%);
$color-greenish-50: hsl(166, 46%, 70%);
$color-greenish-100: hsl(167, 47%, 61%);
$color-blue-700: hsl(221, 34%, 23%);
$color-light-blue: hsl(183, 100%, 96%);

// fonts path
$fonts-path: "../fonts" !default;

// $c: hsl(215, 39%, 22%)
// $c:hsl(183, 100%, 96%)
