.footer {
  &-top {
    padding-block: 35px;

    @include media-breakpoint-up(md) {
      display: flex;
      gap: clamp(7.06rem, calc(-10.17rem + 47.78vw), 30.63rem);
      padding-block: 75px;
    }

    &__list {
      @include flexBetween;

      @include media-breakpoint-up(md) {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
      }
    }

    &__link {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 0%;
        height: 2px;
        background: $color-greenish-cyan;
        transition: all 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        color: $color-greenish-cyan;
      }
    }
  }

  &-bottom {
    @include flexCenter;
    flex-direction: column;
    padding-bottom: 20px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__social-icon {
      @include flexBetween;
      width: 155px;
      margin-top: 37px;
      margin-bottom: 17px;

      @include media-breakpoint-up(md) {
        order: 2;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &__policy {
      font-size: 11px;

      @include media-breakpoint-up(md) {
        order: 1;
        width: 46%;
      }
    }
  }
}
