.footer {
  &-top {
    padding-block: 35px;

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__link {
      &:hover {
        color: $color-greenish-cyan;
      }
    }
  }

  &-bottom {
    @include flexCenter;
    flex-direction: column;
    padding-bottom: 20px;

    &__social-icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 155px;
      margin-top: 37px;
      margin-bottom: 17px;
    }

    &__policy {
      font-size: 11px;
    }
  }
}
