.header {
  padding-block: 24px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    gap: 20px;
  }
}

.scrollEffect {
  transition: all 1s;
  background: $color-greenish-50;
}
