.header {
  background: #000;
  padding-block: 24px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    gap: 20px;
  }
  // display: none; //comment delete
}
