// Main
.main {
  z-index: -1;
  width: 100%;

  //   &__video {
  //     position: fixed;
  //     right: 0;
  //     bottom: 0;
  //     min-width: 100%;
  //     min-height: 100%;
  //   }
}

// Hero
.hero {
  background: #000;

  &__content {
    @include flexCenter;
    flex-direction: column;
  }

  &__paragraph {
    margin-top: 44px;
    margin-bottom: 62px;
    font-size: clamp(1.13rem, calc(1.09rem + 0.19vw), 1.25rem);
  }
}

// WORKS
.works {
  &__content {
    @include flexCenter;
    flex-direction: column;
    margin-top: 84px;
  }

  &__header {
    margin-top: 35px;
    margin-bottom: 30px;
  }

  &__paragraph {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 18px;
  }

  &__cards {
    @include flexCenter;
    margin-top: 45px;

    @include media-breakpoint-up(md) {
      margin-bottom: 45px;
    }
  }

  &-card {
    @include flexCenter;
    flex-direction: column;
    width: 218px;
    padding: 10px;
    border-radius: 30px;
    margin: 30px;
    transition: transform 0.4s;
    background: 0.4s;
    box-shadow: 0.4s;

    &:hover {
      box-shadow: 0 15px 30px 0 rgba($color-light-blue, 0.6);
      background: rgba(237, 248, 255, 0.52);
      transform: translate(0, -4px);
    }

    &__header {
      margin-top: 35px;
      margin-bottom: 30px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 25px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__button {
    border: 2px solid $color-blue-700;
    background: transparent;
  }
}

// OCCASIONS
.occasions {
  background: linear-gradient($color-white 0%, $color-light-blue 100%);
  padding-top: 115px;

  &__cards {
    @include flexCenter;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 63px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 50px;
    }

    @include media-breakpoint-up(md) {
      gap: 25px;
    }
  }

  &-card {
    $card: ".occasions-card";
    @include flexCenter;
    position: relative;
    flex-direction: column;
    width: 260px;
    min-height: 302px;
    background: transparent;
    transition: all 500ms ease-out;

    &:hover {
      border-radius: 30px;
      background: $color-white;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 13px;
        background: $color-greenish-100;
      }

      #{$card}__header {
        color: $color-black-100;
      }

      #{$card}__paragraph {
        opacity: 1;
      }
    }

    &__header {
      margin-top: 31px;
      margin-bottom: 37px;
      color: $color-greenish-100;
    }

    &__paragraph {
      opacity: 0;
    }
  }
}

// USE
.use {
  padding-top: 50px;
  background: $color-light-blue;

  &__content {
    @include media-breakpoint-up(xl) {
      position: relative;
      z-index: 8;
      padding-inline: 300px;
    }
  }

  :is(&__paragraph-secondary, &__paragraph-primary) {
    margin-top: 32px;
    margin-bottom: 60px;
  }

  &__paragraph-secondary {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__paragraph-primary {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      padding-inline: 70px;
    }
  }

  &__video {
    z-index: 9;
    width: 100%;

    @include media-breakpoint-up(xl) {
      position: relative;
      left: 50%;
      width: 40%;
      transform: translate(-50%, 0%);
    }
  }

  &-image-wrapper {
    position: relative;
  }

  &__img {
    z-index: 3;
    position: absolute;
    top: -176px;
    left: -146px;
    width: 216%;

    @include media-breakpoint-up(xl) {
      inset: 0;
      top: -392px;
      max-width: 100%;
    }
  }
}

// CREDIT!
.credit {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 123px;
    background: $color-light-blue;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;

    @include media-breakpoint-up(xl) {
      top: -677px;
      left: 50%;
      width: 80.7%;
      height: 1000px;
      transform: translate(-50%, 0) rotate(-2deg);
    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: 366px;
  }

  &__content {
    padding-top: 230px;
  }

  &__paragraph {
    margin-top: 38px;
    margin-bottom: 69px;
    font-size: clamp(1rem, calc(0.96rem + 0.19vw), 1.13rem);

    @include media-breakpoint-up(md) {
      padding-inline: 45px;
    }
  }

  &__cards {
    @include media-breakpoint-up(md) {
      @include flexCenter;
      flex-direction: column;
      gap: 50px;
    }

    @include media-breakpoint-up(xl) {
      flex-direction: row;
      align-items: inherit;
    }
  }

  &-card {
    @include flexCenter;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 63px 16px 40px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      width: 585px;
      border-radius: 30px;
    }

    @include media-breakpoint-up(xl) {
      width: 481px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 26px;
      background: $color-blue-700;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    &__header {
      margin-top: 63px;
      margin-bottom: 46px;
    }
  }
}

// KIND WORDS
.msg {
  padding-top: 80px;
  padding-bottom: 120px;

  @include media-breakpoint-up(md) {
    padding-top: 222px;
  }

  &__header {
    @include media-breakpoint-up(md) {
      padding-inline: 30px;
    }
  }

  &__paragraph {
    padding-block: 28px;
  }

  &__cards {
    @include flexCenter;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 80px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      gap: 0;
    }
  }

  &-card {
    position: relative;
    background: $color-white;
    margin-bottom: 50px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    // &:hover {
    //   transform: scale(1.1) rotate(1deg);
    // }

    :is(.msg-card, &__content) {
      border-radius: 30px;
    }

    @include media-breakpoint-up(md) {
      width: 48%;
      height: fit-content;
    }

    @include media-breakpoint-up(xl) {
      width: 32%;
    }

    &__content {
      padding: 38px;
      margin-top: 5px;
      margin-left: 5px;
      background: $color-greenish;
    }

    &__kind-words {
      font-size: 15px;
    }

    &__name {
      margin-top: 33px;
    }
  }

  .speech-bubble {
    position: relative;
    border: 5px solid $color-blue-800;

    &::before {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: 50%;
      right: auto;
      top: auto;
      bottom: -41px;
      border: 20px solid;
      border-color: $color-blue-800 transparent transparent $color-blue-800;
      transform: translate(-50%, 0);
    }

    &::after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: 50%;
      right: auto;
      top: auto;
      bottom: -32px;
      border: 16px solid;
      border-color: $color-greenish transparent transparent $color-greenish;
      transform: translate(-50%, 0);
    }
  }
}

// GIFT
.gift {
  position: relative;
  min-height: 700px;
  overflow: hidden;

  background: linear-gradient($color-greenish-50, $color-white);

  @include media-breakpoint-up(md) {
    min-height: 760px;
  }

  &__content {
    @include flexCenter;
    flex-direction: column;
  }

  &__header {
    margin-top: 114px;

    @include media-breakpoint-up(md) {
      padding-inline: 100px;
    }
  }

  &__button {
    display: block;
    margin-top: 40px;
    margin-bottom: 104px;
  }

  &__bg-img {
    position: absolute;
    inset: 0;
    top: -400px;
    left: -265px;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: calc(min(-258%, (-258% + 50%)));

    @include media-breakpoint-up(sm) {
      left: calc(-258% + 250%);
    }

    @include media-breakpoint-up(md) {
      left: calc(-258% + 230%);
    }

    @include media-breakpoint-up(xl) {
      left: 50%;
      right: 50%;
      transform: translate(-50%, 0%);
      width: 90%;
    }
  }
}
