// Main
.main {
  position: relative;
  width: 100%;
}

.back-to-top-link {
  .bi-arrow-up-circle-fill {
    z-index: 20;
    position: fixed;
    top: calc(100vh - 5rem);
    right: 20px;

    font-size: 40px;
    color: $color-black-100;
    transition: font-size 0.5s ease-in-out;

    &:hover {
      font-size: 50px;
    }
  }
}
